<div>
  <h1>Leaderboard</h1>
  <mat-divider></mat-divider>
  <p>
    Displays the players info depending on what competition they are
    participating.
  </p>
</div>

<div class="search-layout">
  <mat-form-field class="forms" appearance="outline">
    <input
      matInput
      type="text"
      placeholder="Search"
      (keyup)="applyFilter($event)"
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by Position"
        class="table-header top-left-corner"
      >
        Position
      </th>
      <td mat-cell *matCellDef="let element">{{ element.position }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="table-header centering-cells centered-sorted-header"
      >
        Name
      </th>
      <td mat-cell *matCellDef="let element" class="centering-cells">
        {{ element.name }}
      </td>
    </ng-container>

    <!-- Victories Column -->
    <ng-container matColumnDef="victories">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="table-header centering-cells centered-sorted-header"
      >
        Victories
      </th>
      <td mat-cell *matCellDef="let element" class="centering-cells">
        {{ element.victories }}
      </td>
    </ng-container>

    <!-- Losses Column -->
    <ng-container matColumnDef="losses">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="table-header centering-cells centered-sorted-header"
      >
        Losses
      </th>
      <td mat-cell *matCellDef="let element" class="centering-cells">
        {{ element.losses }}
      </td>
    </ng-container>

    <ng-container matColumnDef="winPercentage">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="table-header centering-cells centered-sorted-header"
      >
        Win Percentage
      </th>
      <td mat-cell *matCellDef="let element" class="centering-cells">
        {{ element.winPercentage }}
      </td>
    </ng-container>

    <ng-container matColumnDef="championshipVictories">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="table-header centering-cells centered-sorted-header"
      >
        Championship Victories
      </th>
      <td mat-cell *matCellDef="let element" class="centering-cells">
        {{ element.championshipVictories }}
      </td>
    </ng-container>

    <ng-container matColumnDef="lastFiveMatchesResults">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="table-header top-right-corner centering-cells centered-sorted-header"
      >
        Last Five Matches
      </th>
      <td mat-cell *matCellDef="let element" class="centering-cells">
        <ng-container *ngFor="let match of element.lastFiveMatchesResults">
          <mat-icon *ngIf="match === Matches.win" class="win-icon"
            >check_circle</mat-icon
          >
          <mat-icon *ngIf="match === Matches.lose" class="lose-icon"
            >cancel</mat-icon
          >
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    class="bottom-corner"
  ></mat-paginator>
</div>
