<div class="remove-margin">
  <div class="register-container">
    <div class="register-header">
      <h2>Register</h2>
    </div>
    <div class="input-section">
      <mat-form-field class="play-time" appearance="outline">
        <mat-label>Username</mat-label>
        <input
          matInput
          type="text"
          placeholder="Choose a Username"
          id="username"
          name="username"
          [(ngModel)]="user.username"
          (keydown.enter)="onRegisterClick()"
        />
      </mat-form-field>

      <mat-form-field class="play-time" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="text"
          placeholder="test@gmail.com"
          id="email"
          name="email"
          [(ngModel)]="user.email"
          (keydown.enter)="onRegisterClick()"
        />
      </mat-form-field>

      <mat-form-field class="play-time" appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Password"
          id="password"
          name="password"
          [(ngModel)]="user.password"
          (keydown.enter)="onRegisterClick()"
        />
      </mat-form-field>

      <mat-form-field class="play-time" appearance="outline">
        <mat-label>Confirmed Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Reenter Password"
          id="confimed-password"
          name="confirmed-password"
          [(ngModel)]="user.password"
          (keydown.enter)="onRegisterClick()"
        />
      </mat-form-field>

      <button type="button" (click)="onRegisterClick()" class="register-button">
        Register
      </button>
      <p class="login-link">
        Already have an account? <a [routerLink]="['/login']">Login here</a>
      </p>
    </div>
  </div>
</div>
