<nav class="sidenav">
  <div class="sidenav__title">Menu</div>
  <ul class="sidenav__list">
  <li>
    <a [routerLink]="['/home']" routerLinkActive="is-active">Home</a>
  </li>
  <li>
    <a [routerLink]="['/competitions']" routerLinkActive="is-active">Competitions</a>
  </li>
  <li>
    <a [routerLink]="['/about']" routerLinkActive="is-active">About</a>
  </li>
  <li>
    <a [routerLink]="['/leaderboard']" routerLinkActive="is-active">Leaderboard</a>
  </li>
  <li>
    <a [routerLink]="['/mathes']" routerLinkActive="is-active">Matches</a>
  </li>
  </ul>
</nav>
