.nav-container {
    width: 100%;
    height: 100%;
}

.drawer {
    background-color: #0E46A3;
    color: #E1F7F5;
}

.heading {
    display: flex;
    justify-content: center;
}

.side-nav {
    width: 300px;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.main-content {
    padding: 60px;
}

.account-spacer {
    flex: 1 1 auto;
}

.mat-mdc-button:not(:disabled)  {
    color: #E1F7F5;
}

.toolbar {
    background-color: #1E0342;
    color: #E1F7F5;
}