.example-container {
    width: 100%;
    height: 100%;
}

.drawer {
    background-color: #555;
    color: #fff;
}

.heading {
    display: flex;
    justify-content: center;
}

.side-nav {
    width: 300px;
    display: flex;
 
    flex-direction: column;
    color: #fff;
}

.main-content {
    padding: 60px;
}