<div  class="profile-layout">
    <div class="heading">
        <h1>My Profile</h1>
        <mat-divider></mat-divider>
    </div>
    <div class="content">
        <div class="profile-properties">
                <p><b>First Name:</b></p>
                <p><b>Last Name: </b></p>
                <p><b>Championship Titles: </b></p>
                <p><b>Victories: </b></p>
                <p><b>Win Percentage: </b></p>
        </div>
        <div class="profile-info">
                    <p>{{profile.FirstName}}</p>
                    <p>{{profile.LastName}}</p>
                    <p>{{profile.ChampionshipTitles}}</p>
                    <p>{{profile.Victories}}</p>
                    <p>{{profile.WinPercentage}}</p>
        </div>
    </div>
    <div class="profile-back-button">
        <button mat-flat-button color="primary" [routerLink]="['/welcome']">Back</button>
    </div>
</div>
